<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <% echo(self) %> -->
<STYLE TYPE="text/css">
A:link{    /* 未リンク */
	text-decoration:none;
}
A:visited{ /* 既リンク */
	text-decoration:none;
}
A:hover  { /* リンク中 */
	color:#F44646; text-decoration:underline;
}
BODY,TD,TH{/* 基本フォント&基本サイズ */
	font-family:"ＭＳ Ｐゴシック"; font-size:10pt;
}
input,textarea,select{
font-family     :ＭＳ ゴシック;   /*文字フォント*/
font-size       :10pt;            /* 文字サイズ */
color           :#349B31;         /*   文字色   */
background-color:#FFFFFF;         /*   背景色   */
border          :1 solid #749FF1; /*線の太さ、色*/
}
input{
font-family     :ＭＳ Ｐゴシック; /*文字フォント*/
}
</STYLE>

<title>PHP-I-BOARD</title></head>
<body text=#585858 link=#5C50CD vlink=#399563 bgcolor=#FFFFFF>
<!--ヘッダ広告タグ挿入位置▽-->

<!--△ここまで-->
<center>
<font color=#749FF1 face="Times New Roman" size=6>PHP-I-BOARD</font>
<br><br><table border=0><tr><td bgcolor=#FFFFFF>
<font color=#8187FC><% echo(count)%></font></td></tr></table>
<hr width=90%>
□<a href="<% echo(home_url)%>"> HOME</a>　
□<a href="<% echo(self) %>?mode=man"> HELP</a>　
□<a href="<% echo(self) %>?mode=s"> SEARCH</a>　
<!--{def kako}-->□ <a href="<% echo(self) %>?mode=log">過去ログ</a><!--{/def}-->

<hr width=80%><table><tr><td>
<small>
・どんどん書いてってね！
</small>


</td></tr></table><hr width=80%>

<form action="<% echo(self) %>" method="POST">
<input type=hidden name=mode value=write><input type=hidden name=type value=0>

<table bgcolor=#FFFFFF>
<tr><td bgcolor=#749FF1>Name</td>
<td>/<input type=text name="name" value="<% echo(cname) %>" size=25 maxlength=32 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" autocomplete="username"></td>
<td bgcolor=#749FF1>E-Mail</td>
<td>/<input type="email" name="email" value="<% echo(cemail) %>" size=25 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></td></tr>

<tr><td bgcolor=#749FF1>Title</td><td>/<input type=text name="subject" size=25 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" maxlength=32></td>

<td bgcolor=#749FF1>削除キー</td>
<td>/<input type=password name=delkey value="<% echo(cpass)%>" size=8 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" autocomplete="current-password">
<small>(半角8文字以内)</small></td></tr>
<tr><td colspan=4 bgcolor=#749FF1>Comment/ <small>(適当に改行を入れて下さい/半角<% echo(maxcom)%>文字以内)</small><br>
　<textarea name=comment rows=8 cols=70 wrap=soft onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></textarea></td></tr>

<tr><td bgcolor=#749FF1>URL</td>
<td colspan=3>/<input type="url" name="url" value="<% echo(curl)%>" size=65 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></td></tr>
<tr><td bgcolor=#749FF1>文字色</td><td colspan=3>/
<% each(font)%>
<input type=radio name=font value="<% echo(font/color) %>"<% echo(font/chk)%>><font color="<% echo(font/color) %>">■</font>
<% /each %>
</td></tr><tr><td bgcolor=#749FF1>枠線色</td><td colspan=3>/
<% each(hr)%>
<input type=radio name=hr value="<% echo(hr/color) %>"<% echo(hr/chk) %>><font color="<% echo(hr/color) %>">■</font>
<% /each %>
</td></tr><tr><td bgcolor=#749FF1>Icon</td><td colspan=2>/<select name=ico>
<% each(icon)%>
<option value="<% echo(icon/file) %>"<% echo(icon/sel)%>><% echo(icon/name)%></option>
<% /each %>
</select><small>(画像を選択/<a href='<% echo(self) %>?mode=img' target=_blank>サンプル一覧</a>)</small></td>
<td><input type=submit value="送 信" onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
<input type=reset value="リセット" onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';"></td></tr></table></form>
<a name=list></a><table width=80% border=1 cellpadding=5 cellspaciing=1 bordercolor=#749FF1><tr>
<td bgcolor=#FFFFFF>
<% each(headline)%>
<a href="<% echo(headline/url)%>"><% echo(headline/subj)%>(<% echo(headline/cnt)%>)</a> /
<% /each %>
</td></tr></table><br>

<!--{each oya}-->
<% each(oya) %>
<a name="<% echo(oya/num) %>"><hr width=95%></a><br>
<table width=80% bgcolor=#FFFFFF border=1 cellpadding=3 cellspaciing=0 bordercolor=<% echo(oya/b_color) %>><tr><td>
<table width=100% border=0 cellpadding=1 cellspacing=0>
<tr bgcolor=<% echo(oya/b_color)%>><th height=20 colspan=3><font color=#ffffff>[<% echo(oya/num) %>] <% echo(oya/subj)%></font></th></tr>
<tr><td colspan=3><a href="#list">■</a> <% echo(oya/name) %><% def(oya/email) %> <a href="mailto:<% echo(oya/email)%>">＠</a><% /def %>-<small>(<% echo(oya/date) %>)</small><% def(oya/url) %> <a href="<% echo(oya/url) %>" target=_top><img src="./Icon/home2.gif" width=15 height=15 border=0></a><% /def %></td></tr>
<tr><td width=5%></td><td width=10%><% def(oya/icon)%><img src="<% echo(oya/icon)%>"><% /def %>
<br>[<a href="<% echo(self) %>?num=<% echo(oya/num)%>&mode=res&q=<% echo(oya/num)%>#F">引用</a>]</td>
<td width=85%><br><font color="<% echo(oya/color)%>"><% echo(oya/com)%></font></td></tr></table><br>

<div align=right>
<form action=<% echo(self) %> method=GET>
<input type=hidden name=num value=<% echo(oya/num)%>>
<input type=hidden name=mode value=res>
<input type=submit value=" レスする " onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';"></form></div>
<% def(oya/res) %>
<hr color=<% echooya/b_color)%> size=1><table width=100%><tr>
<td width=10%><br></td><td width=90%><table width=100%>

<% each(oya/res) %>
<tr><th bgcolor=<% echo(oya/res/b_color)%> colspan=2><font color=#5B5B5B>[<% echo(oya/res/num) %>] <% echo(oya/res/subj)%></font></th></tr>

<tr><td colspan=2>□ <% echo(oya/res/name)%><% def(oya/res/email)%> <a href="mailto:<% echo($oya/res/email)%>">＠</a><% /def %>-<small>(<% echo(oya/res/date)%><% def(oya/res/url)%>) <a href="<% echo(oya/res/url)%>" target=_top><img src="./Icon/home2.gif" width=15 height=15 border=0></a><% /def %> Res<% echo(oya/res/cnt)%></small><br></td></tr>


<tr><td width=10%><% def(oya/res/icon)%><img src="<% echo(oya/res/icon)%>" align=middle><% /def %>
<br>[<a href="<% echo(self) %>?num=<% echo(oya/num)%>&mode=res&q=<% echo(oya/res/num)%>#F">引用</a>]</td>
<td width=90%><br><font color=<% echo(oya/res/color)%>><% echo(oya/res/com)%></font><br><br></td></tr>
<% /each %>

</table></td></tr></table>
<% /def %>

<% def(oya/over)%>
<div align=right>
<a href="<% echo(self) %>?mode=res&num=<% echo(oya/num) %>&res=old">先頭から<% echo(res_def) %>件</a> /
<a href="<% echo(self) %>?mode=res&num=<% echo(oya/num) %>&res=new">最新レス<% echo(res_def) %>件</a> /
<a href="<% echo(self) %>?mode=res&num=<% echo(oya/num) %>&res=all">全レス表示</a></div>
<% /def %>

</td></tr></table><br>
<% /each %>

<hr width=90%><table width=65%><tr align=center><td>
<% def(prev)%><b>[<a href="<% echo(prev)%>">前の<% echo(page_def)%>件</a>]</b><% /def %>&nbsp;
<% def(next)%><b>[<a href="<% echo(next)%>">次の<% echo(page_def)%>件</a>]</b><% /def %>
<br><br>Page / <% echo(paging)%>
</td>
<form action="<% echo(self) %>" method="GET">
<input type="hidden" name="mode" value="s">
<td>
全記事数/<b><% echo(total)%></b> <small>(親/<% echo(oyakiji)%> レス/<% echo(reskiji)%>)</small><br>
<input type="hidden" name="andor" value="and">
<input type="hidden" name="logs" value="0">
キーワード/ <input type=text name=w size=10 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';">
<input type="submit" value=" 検 索 " onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
</td></form></tr></table>

<form action="<% echo(self) %>" method="POST"><input type="hidden" name="no" value="0">
<table><tr><th bgcolor=#749FF1 colspan=3>編集/削除フォーム</th></tr><tr><td>
<select name="mode">
<option value="edit">編集
<option value="del">削除
</select></td><td>記事No / <input type='number' name=del size=5 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';">
</td><td>削除キー / <input type=password name=delkey size=8 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" autocomplete="current-password">
<input type="submit" value=" 送信 " onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
</td></tr></table></form></center>
<hr width=90%>
<div align=right>
<form action="<% echo(self) %>" method="POST">
<input type="hidden" name="mode" value="admin">
<input type="password" name="pass" size=6 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"><input type=submit value="管理用" onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';"><br>
</form></div>
<!--著作権表示 削除しないでください-->
<hr width=90%><center>- <a href="http://php.loglog.jp/" target=_top>レッツPHP!</a> & <a href="https://pbbs.sakura.ne.jp/" target="_top">@satopian</a> -</center>
<!--フッタ広告タグ挿入位置▽-->

<!--△ここまで-->
</body></html>
