<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style_main.css">
	<!-- <% echo(self) %> -->
	<title>PHP-I-BOARD</title>
</head>
<body>
	<!--ヘッダ広告タグ挿入位置▽-->
	
	<!--△ここまで-->
	<div class="mainc">
		<div>
			<h1>PHP-I-BOARD</h1>
			<p class="count"><% echo(count)%><p>
			<hr>
			<nav>
				<ul>
					<li>□<a href="<% echo(home_url)%>">HOME</a></li>
					<li>□<a href="<% echo(self) %>?mode=man">HELP</a></li>
					<li>□<a href="<% echo(self) %>?mode=s">SEARCH</a></li>
					<% def(kako)%><li>□<a href="<% echo(self) %>?mode=log">過去ログ</a></li>
				<% /def %>
				</ul>
			</nav>
			<h2>・どんどん書いていってね！</h2>
		</div>

		<form action="<% echo(self) %>" method="POST" class="post postmain">
			<input type="hidden" name="mode" value="write">
			<input type="hidden" name="type" value="0">
			<table>
				<tr>
					<td>Name</td>
					<td>/<input type="text" name="name" value="<% echo(cname) %>" size="25" maxlength="32" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" autocomplete="username"></td>
					<td>E-Mail</td>
					<td>/<input type="email" name="email" value="<% echo(cemail) %>" size="25" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></td>
				</tr>
				<tr>
					<td>Title</td>
					<td>/<input type="text" name="subject" size="25" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" maxlength="32"></td>
					<td>削除キー</td>
					<td>/<input type="password" name="delkey" value="<% echo(cpass)%>" size="8" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" autocomplete="current-password">
					<small>(半角8文字以内)</small></td>
				</tr>
				<tr>
					<td colspan="4">Comment/ <small>(適当に改行を入れて下さい/半角<% echo(maxcom)%>文字以内)</small><br>
					<textarea name="comment" rows="8" cols="70" wrap="soft" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></textarea></td>
				</tr>
				<tr>
					<td>URL</td>
					<td colspan="3">/<input type="url" name="url" value="<% echo(curl)%>" size="65" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></td>
				</tr>
				<tr>
					<td>文字色</td>
					<td colspan="3">/<% each(font)%><input type="radio" name="font" value="<% echo(font/color) %>"<% echo(font/chk)%>><span style="color:<% echo(font/color) %>">■</span><% /each %></td>
				</tr>
				<tr>
					<td>枠線色</td>
					<td colspan="3">/<% each(hr)%><input type="radio" name="hr" value="<% echo(hr/color) %>"<% echo(hr/chk) %>><span style="color:<% echo(hr/color) %>">■</span><% /each %></td>
				</tr>
				<tr>
					<td>Icon</td>
					<td colspan="2">/
						<select name="ico">
							<% each(icon)%><option value="<% echo(icon/file) %>"<% echo(icon/sel)%>><% echo(icon/name)%></option><% /each %>
						</select><small>(画像を選択/<a href="<% echo(self) %>?mode=img" target="_blank">サンプル一覧</a>)</small>
					</td>
					<td><input type="submit" value="送 信" onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
				<input type=reset value="リセット" onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';"></td>
				</tr>
			</table>
		</form>
		<table id="list" cellpadding="5" cellspaciing="1">
			<tr>
				<td>
					<% each(headline)%><a href="<% echo(headline/url)%>"><% echo(headline/subj)%>(<% echo(headline/cnt)%>)</a> /<% /each %>
				</td>
			</tr>
		</table>

		<!--{each oya}-->
		<% each(oya) %>
		<hr id="<% echo(oya/num) %>" class="hrbr">
		<div class="oya_eh" style="border-color:<% echo(oya/b_color) %>;">
			<h2 style="background-color:<% echo(oya/b_color)%>;">[<% echo(oya/num) %>] <% echo(oya/subj)%></h2>
			<h3><a href="#list">■</a> <% echo(oya/name) %><% def(oya/email) %> <a href="mailto:<% echo(oya/email)%>">＠</a><% /def %>-<small>(<% echo(oya/date) %>)</small><% def(oya/url) %> <a href="<% echo(oya/url) %>" target=_top><img src="./Icon/home2.gif"></a><% /def %></h3>
			<div class="oya_message">
				<div class="oya_ico_yohaku"></div><div class="ico">
					<% def(oya/icon)%><img src="<% echo(oya/icon)%>" alt=""><% /def %>
					<br>
					[<a href="<% echo(self) %>?num=<% echo(oya/num)%>&mode=res&q=<% echo(oya/num)%>#F">引用</a>]
				</div>
				<div class="com">
					<span style="color:<% echo(oya/color)%>;"><% echo(oya/com)%></span>
				</div>
			</div>
			<form action="<% echo(self) %>" method="GET" class="res_button">
				<input type="hidden" name="num" value="<% echo(oya/num)%>">
				<input type="hidden" name="mode" value="res">
				<input type="submit" value=" レスする " onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
			</form>
			<% def(oya/res) %>
			<hr style="border-bottom:1px solid <% echo(oya/b_color)%>;border-top:none;" >
			<div class="oya_res" style="border-color:<% echo (oya/b_color)%>;">
				<% each(oya/res) %>
					<h3 style="background-color:<% echo(oya/res/b_color)%>;">[<% echo(oya/res/num) %>] <% echo(oya/res/subj)%></h3>
					<h4>□ <% echo(oya/res/name)%><% def(oya/res/email)%> <a href="mailto:<% echo(oya/res/email)%>">＠</a><% /def %>-<small>(<% echo(oya/res/date)%><% def(oya/res/url)%>) <a href="<% echo(oya/res/url)%>" target=_top><img src="./Icon/home2.gif" width="15" height="15" alt="[home]"></a><% /def %> Res<% echo(oya/res/cnt)%></small></h4>
					<div class="res_message">
						<div class="ico">
							<% def(oya/res/icon)%><img src="<% echo(oya/res/icon)%>"><% /def %>
							<br>
							[<a href="<% echo(self) %>?num=<% echo(oya/num)%>&mode=res&q=<% echo(oya/res/num)%>#F">引用</a>]
						</div>
						<div class="com">
							<span style="color:<% echo(oya/res/color)%>;"><% echo(oya/res/com)%></span>
						</div>
					</div>
				<% /each %>
			</div>
			<% /def %>

			<% def(oya/over)%>
			<div class="oya_over">
				<a href="<% echo(self) %>?mode=res&num=<% echo(oya/num) %>&res=old">先頭から<% echo(res_def) %>件</a> / <a href="<% echo(self) %>?mode=res&num=<% echo(oya/num) %>&res=new">最新レス<% echo(res_def) %>件</a> / <a href="<% echo(self) %>?mode=res&num=<% echo(oya/num) %>&res=all">全レス表示</a>
			</div>
			<% /def %>
		</div>
		<% /each %>

		<div class="paging">
			<div>
				<p>
					<% def(prev)%>[<a href="<% echo(prev)%>">前の<% echo(page_def)%>件</a>]<% /def %>
					<% def(next)%>[<a href="<% echo(next)%>">次の<% echo(page_def)%>件</a>]<% /def %>
				</p>
				<p>
					Page / <% echo(paging)%>
				</p>
			</div>
			<form action="<% echo(self) %>" method="GET">
				<input type="hidden" name="mode" value="s">
				<input type="hidden" name="andor" value="and">
				<input type="hidden" name="logs" value="0">
				全記事数/<b><% echo(total)%></b>
				<small>(親/<% echo(oyakiji)%></small>
				<small>レス/<% echo(reskiji)%>)</small><br>
				キーワード/ <input type="text" name="w" size="10" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';">
				<input type="submit" value=" 検 索 " onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
			</form>
		</div>

		<div class="editform">
		<form action="<% echo(self) %>" method="POST" class="edit">
			<h3>編集/削除フォーム</h3>
			<input type="hidden" name="no" value="0">
			<select name="mode">
				<option value="edit">編集</option>
				<option value="del">削除</option>
			</select>
			記事No / <input type="number" name="del" size="5" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';">
			削除キー / <input type="password" name="delkey" value="<% echo(cpass)%>" size="8" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" autocomplete="current-password">
			<input type="submit" value=" 送信 " onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
		</form>
		</div>
	</div>

	<div class="foot">
		<form action="<% echo(self) %>" method="POST">
			<input type="hidden" name="mode" value="admin">
			<input type="password" name="pass" size="6" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';">
			<input type="submit" value="管理用" onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
		</form>
	</div>
	<!--著作権表示 削除しないでください-->
	<div class="copyr">
		<a href="http://php.loglog.jp/" target=_top>レッツPHP!</a>
		&amp;
		<a href="https://pbbs.sakura.ne.jp/" target="_top">@satopian</a>
	</div>
	<!--フッタ広告タグ挿入位置▽-->
	
	<!--△ここまで-->
	</body>
</html>
