<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style_main.css">


<title>PHP-I=BOARD<% def(num)%> [<% echo(num)%> RES]<% /def %></title></head>
<body text=#585858 link=#5C50CD vlink=#399563 bgcolor=#FFFFFF>
<!--ヘッダ広告タグ挿入位置▽-->

□<a href="<% echo(self)%>?"> BACK</a>
<table width="100%" bgcolor="#749FF1"><tr><th><% echo(title)%></th></tr></table>

<% def(res_mode)%>
<!--レス一覧 開始-->
<div class="mainc">
<br>
<div class="oya_eh" style="border-color:<% echo(b_color)%>;">
		<h2 style="background-color:<% echo(b_color)%>;">[<% echo(num) %>] <% echo(subj)%></h2>
		<h3><a href="#list">■</a> <% echo(name) %><% def(email) %> <a href="mailto:<% echo(email)%>">＠</a><% /def %>-<small>(<% echo(date) %>)</small><% def(url) %> <a href="<% echo(url) %>" target=_top><img src="./Icon/home2.gif"></a><% /def %></h3>
		<div class="oya_message">
			<div class="oya_ico_yohaku"></div><div class="ico">
				<% def(icon)%><img src="<% echo(oyaicon)%>" alt=""><% /def %>
				<br>[<a href="<% echo(self)%>?num=<% echo(num)%>&mode=res&q=<% echo(num)%>#F">引用</a>]
			</div>
			<div class="com">
				<span style="color:<% echo(color)%>;"><% echo(com)%></span>
			</div>
		</div>
		

<% def(res) %>
<hr style="border-bottom:1px solid <% echo(b_color)%>;border-top:none;" >
<div class="oya_res" style="border-color:<% echo(b_color)%>;">


	<% each(res) %>
		<h3 style="background-color:<% echo(res/b_color)%>;">[<% echo(res/num) %>] <% echo(res/subj)%></h3>
		<h4>□ <% echo(res/name)%><% def(res/email)%> <a href="mailto:<% echo(res/email)%>">＠</a><% /def %>-<small>(<% echo(res/date)%><% def(res/url)%>) <a href="<% echo(res/url)%>" target=_top><img src="./Icon/home2.gif" width="15" height="15" alt="[home]"></a><% /def %> Res<% echo(res/cnt)%></small></h4>
		<div class="res_message">
			<div class="ico">
				<% def(res/icon)%><img src="<% echo(res/icon)%>">
				Res<% echo(res/cnt)%><br>[<a href="<% echo(self)%>?num=<% echo(num)%>&mode=res&q=<% echo(res/num)%>#F">引用</a>]
				<% /def %>

			</div>
			<div class="com">
				<span style="color:<% echo(res/color)%>;"><% echo(res/com)%></span>
			</div>
		</div>
	<% /each %>
</div>


</table></td></tr></table>
<% /def %>
<div align=right>
<a href="<% echo(self)%>?mode=res&num=<% echo(num)%>&res=old">先頭から<% echo(res_def)%>件</a> /
<a href="<% echo(self)%>?mode=res&num=<% echo(num)%>&res=new">最新レス<% echo(res_def)%>件</a> /
<a href="<% echo(self)%>?mode=res&num=<% echo(num)%>&res=all">全レス表示</a></div>
</td></tr></table>
<a name=F></a>
</div>
<form action="<% echo(self) %>" method="POST" class="post">
	<input type="hidden" name="no" value="0">
	<input type="hidden" name="type" value="<% echo(num)%>">
	<input type="hidden" name="page" value="0">
	<input type="hidden" name="mode" value="write">
	<div class="res_num_subj">△[<% echo(num)%>] <% echo(subj)%> へ返信</div>
	<table>
		<tr>
			<td>Name</td>
			<td>/<input type="text" name="name" value="<% echo(cname) %>" size="25" maxlength="32" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" autocomplete="username"></td>
			<td>E-Mail</td>
			<td>/<input type="email" name="email" value="<% echo(cemail) %>" size="25" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></td>
		</tr>
		<tr>
			<td>Title</td>
			<td>/<input type="text" name="subject" size="25" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" maxlength="32"></td>
			<td>削除キー</td>
			<td>/<input type="password" name="delkey" value="<% echo(cpass)%>" size="8" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" autocomplete="current-password">
			<small>(半角英数)</small></td>
		</tr>
		<tr>
			<td colspan="4">Comment/ <small>(適当に改行を入れて下さい/半角<% echo(maxcom)%>文字以内)</small><br>
			<textarea name="comment" rows="8" cols="70" wrap="soft" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></textarea></td>
		</tr>
		<tr>
			<td>URL</td>
			<td colspan="3">/<input type="url" name="url" value="<% echo(curl)%>" size="65" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></td>
		</tr>
		<tr>
			<td>文字色</td>
			<td colspan="3">/<% each(font)%><input type="radio" name="font" value="<% echo(font/color) %>"<% echo(font/chk)%>><span style="color:<% echo(font/color) %>">■</span><% /each %></td>
		</tr>
		<tr>
			<td>枠線色</td>
			<td colspan="3">/<% each(hr)%><input type="radio" name="hr" value="<% echo(hr/color) %>"<% echo(hr/chk) %>><span style="color:<% echo(hr/color) %>">■</span><% /each %></td>
		</tr>
		<tr>
			<td>Icon</td>
			<td colspan="2">/
				<select name="ico">
					<% each(icon)%><option value="<% echo(icon/file) %>"<% echo(icon/sel)%>><% echo(icon/name)%></option><% /each %>
				</select><small>(画像を選択/<a href="<% echo(self) %>?mode=img" target="_blank">サンプル一覧</a>)</small>
			</td>
			<td><input type="submit" value="送 信" onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
		<input type=reset value="リセット" onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';"></td>
		</tr>
	</table>
</form>
<!--レス一覧 終了-->
<% /def %>

<% def(edit_mode)%>
<!--編集モード 開始-->
<form action="<% echo(self) %>" method="POST" class="post">
	<input type=hidden name=delkey value="<% echo(pass)%>">
	<input type=hidden name=mode value=rewrite>
	<input type=hidden name=num value=<% echo(num)%>>
		<table>
		<tr>
			<td>Name</td>
			<td>/<input type="text" name="name" value="<% echo(name)%>" size="25" maxlength="32" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" autocomplete="username"></td>
			<td>E-Mail</td>
			<td>/<input type="email" name="email" value="<% echo(email) %>" size="25" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></td>
		</tr>
		<tr>
			<td>Title</td>
			<td>/<input type="text" name="subject" size="25" value="<% echo(subj)%>" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" maxlength="32"></td>
		</tr>
		<tr>
			<td colspan="4">Comment/ <small>(適当に改行を入れて下さい/半角<% echo(maxcom)%>文字以内)</small><br>
			<textarea name="comment" rows="8" cols="70" wrap="soft" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"><% echo(com)%></textarea></td>
		</tr>
		<tr>
			<td>URL</td>
			<td colspan="3">/<input type="url" name="url" value="<% echo(url)%>" size="65" onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></td>
		</tr>
		<tr>
			<td>文字色</td>
			<td colspan="3">/<% each(font)%><input type="radio" name="font" value="<% echo(font/color) %>"<% echo(font/chk)%>><span style="color:<% echo(font/color) %>">■</span><% /each %></td>
		</tr>
		<tr>
			<td>枠線色</td>
			<td colspan="3">/<% each(hr)%><input type="radio" name="hr" value="<% echo(hr/color) %>"<% echo(hr/chk) %>><span style="color:<% echo(hr/color) %>">■</span><% /each %></td>
		</tr>
		<tr>
			<td>Icon</td>
			<td colspan="2">/
				<select name="ico">
					<% each(icon)%><option value="<% echo(icon/file) %>"<% echo(icon/sel)%>><% echo(icon/name)%></option><% /each %>
				</select><small>(画像を選択/<a href="<% echo(self) %>?mode=img" target="_blank">サンプル一覧</a>)</small>
			</td>
			<td><input type="submit" value="送 信" onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
		<input type=reset value="リセット" onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';"></td>
		</tr>
	</table>
</form>
<!--編集モード 終了-->
<% /def %>

<% def(admin)%>
<!--管理モード 開始-->
<ul>
□ ログサイズ/<% echo(size)%>バイト 記事数/<% echo(total)%> <small>(親/<% echo(oyakiji)%> レス/<% echo(reskiji)%>)</small><br>
■ 記事を編集したい場合、その記事のタイトルをクリック。<br>
■ 削除したい記事にチェックを入れ「削除」ボタンを押す。<br>
□ 親記事を削除するとレス記事もすべて削除されます。
</ul><center>

<form action="<% echo(self)%>" method=POST>
<input type=hidden name=mode value="del">
<input type=hidden name=delkey value="<% echo(pass)%>">
<table border=1 width=90% bordercolor=#749FF1>
<tr bgcolor=#749FF1><th>チェック</th><th colspan=2>記事NO</th>
<th>タイトル</th><th>投稿者</th><th>コメント</th></tr>
<% each(oya)%>
<tr><th><input type=checkbox name="del[]" value="<% echo(oya/num)%>"></th>
<th nowrap>親記事</th><td align=center><% echo(oya/num)%></td><td>
<% echo(oya/subj)%></td>
<td><% echo(oya/name)%> <% def(oya/email)%><a href="mailto:<% echo(oya/email)%>">＠</a><% /def %><br><font size=2><% echo(oya/host)%></font></td><td><% echo(oya/com)%></td></tr>
<% each(oya/res)%>
<tr><th><input type=checkbox name="del[]" value="<% echo(oya/res/num)%>"></th>
<td align=center colspan=2><% echo(oya/res/num)%><br><small>[<% echo(oya/num)%>-<% echo(oya/res/cnt)%>]</small></td><td>
<% echo(oya/res/subj)%></td>
<td><% echo(oya/res/name)%> <% def(oya/res/email)%><a href="mailto:<% echo(oya/res/email)%>">＠</a><% /def %><br><font size=2><% echo(oya/res/host)%></font></td><td><% echo(oya/res/com)%></td></tr>
<% /each %>
<% /each %>
</table><br><input type=submit value=" 削除 ">
<input type=reset value="リセット"></form>
<% def(prev)%><b>[<a href="<% echo(prev)%>">前の<% echo(page_def)%>件</a>]</b><% /def %>&nbsp;
<% def(next)%><b>[<a href="<% echo(next)%>">次の<% echo(page_def)%>件</a>]</b><% /def %>
<br><br>Page : <% echo(paging)%>
<hr width=90%>
</center>
<!--管理モード 終了-->
<% /def %>

<% def(search_mode)%>
<!--検索モード 開始-->
<center><table><tr><td>
・ キーワードを複数指定する場合は 半角スペース で区切ってください。<br>
・ 検索条件は、(AND)=[A かつ B] (OR)=[A または B] となっています。<br>

</td></tr></table>
<hr width=90%>
<form action="<% echo(self)%>" method=GET>	
<input type=hidden name=mode value=s>
<table><tr>
<td bgcolor=#749FF1>キーワード</td><td>/ <input type=text name=w size=20 value="<% def(word)%><% echo(word)%><% /def %>" onFocus="this.style.backgroundColor='#FEF1C0';" onBlur="this.style.backgroundColor='#FFFFFF';"></td>
<td bgcolor=#749FF1>検索条件</td>
<td>/ <select name=andor><option value=and>AND<option value=or>OR</select></td></tr>
<tr><td bgcolor=#749FF1>検索範囲</td><td>/ <select name=logs>
<option value="0">現在のログ
	<% def(is_pastlog)%>
	<% each(past)%>
<option value="<% echo(past/no)%>"<% echo(past/sel)%>>過去ログ<% echo(past/no)%></option>
<% /each %>
<% /def %>
</select></td>
<td bgcolor=#749FF1>強調表示</td><td>/ <input type=checkbox name=kyo value=1 onmouseover="this.style.backgroundColor='#FEF1C0';" onmouseout="this.style.backgroundColor='#FFFFFF';">ON
<small>(自動リンクOFF)</small></td></tr>
<tr><td bgcolor=#749FF1>結果表示件数</td><td>/ <select name=pp>
<option value=20 selected>20件
<option value=30>30件
<option value=40>40件
<option value=50>50件
</select></td><td colspan=2 align=right>
<input type=submit value=" 検 索 " onmouseover="this.style.backgroundColor='#FEF1C0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
<input type=reset value="リセット" onmouseover="this.style.backgroundColor='#FEF1C0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
</td></tr></table></form></center>

<% def(out)%>
<center><hr width=90%><h3><% echo(logname)%></h3>
<b>ヒット / <% echo(total)%>件</b> (<% echo(st)%>-<% echo(to)%>を表示) / 
Page : <% echo(paging)%>
<form action="<% echo(self)%>" method=POST>
<input type=hidden name=mode value="del">
<input type=hidden name=logs value="0">

<% each(out)%>
<table width=80% bgcolor=#FFFFFF border=1><tr><td>
<table width=100%><tr><th bgcolor=#749FF1>
<font color=#ffffff>No.<% echo(out/num)%>/<% echo(out/subj)%></font></th></tr><tr><td nowrap>
■投稿者/ <% echo(out/name)%> -<small>(<% echo(out/date)%>)<br><!--<% echo(out/host)%>--></small></td>
</tr><tr><td><br><ul><% echo(out/com)%></ul></td>
</table><div align=right><% def(out/oya)%>親記事<% /def %>
<% def(out/res)%>No.<% echo(out/res)%> のレス<% /def %>
 /
<a href="<% echo(self)%>?mode=s&all=1&w=<% echo(out/num)%>&logs=<% echo(logs)%>">関連記事表示</a><br>
削除チェック/<input type=checkbox name="del[]"" value=<% echo(out/num)%> onmouseover="this.style.backgroundColor='#FEF1C0';" onmouseout="this.style.backgroundColor='#FFFFFF';"></div></td></tr></table><br>
<% /each %>
<% def(prev)%><b>[<a href="<% echo(prev)%>">前の<% echo(page_def)%>件</a>]</b><% /def %>&nbsp;
<% def(next)%><b>[<a href="<% echo(next)%>">次の<% echo(page_def)%>件</a>]</b><% /def %>
<br><br>Page : <% echo(paging)%>
</center>
<hr width=90%>
<div align=right>パスワード/<input type=password name=delkey size=4 onFocus="this.style.backgroundColor='#FEF1C0';" onBlur="this.style.backgroundColor='#FFFFFF';">
<input type=submit value="削除" onmouseover="this.style.backgroundColor='#FEF1C0';" onmouseout="this.style.backgroundColor='#FFFFFF';"></form></div>
<!--検索モード 終了-->
<% /def %>
<% /def %>

<% def(past_mode)%>
<!--過去ログモード 開始-->
<center><% def(logs)%><h3><% echo(logname)%></h3><% /def %>
<table><% def(is_pastlog)%><tr><th>表示ログ</th><td>
<% each(past)%>
<% def(past/link)%><a href="<% echo(self)%>?mode=log&logs=<% echo(past/no)%>"><% /def %>過去ログ<% echo(past/no)%></a> <% def(past/br)%><% echo(past/br)%><% /def %>
<% /each %>
<% /def %>
</td></tr></table><br>過去ログ検索は <a href="<% echo(self)%>?mode=s">SEARCH</a> より行えます。
<% def(out)%>
<hr width=90%>

<b>記事数 / <% echo(total)%>件</b> (<% echo(st)%>-<% echo(to)%>を表示) / Page : <% echo(paging)%><br>
<form action="<% echo(self)%>" method=POST>
<input type=hidden name=mode value="del">
<input type=hidden name=logs value="<% echo(logs)%>">

<% each(out)%>
<table width=80% bgcolor=#FFFFFF border=1><tr><td>
<table width=100%><tr><th bgcolor=#749FF1>
<font color=#ffffff>No.<% echo(out/num)%>/<% echo(out/subj)%></font></th></tr><tr><td nowrap>
■投稿者/ <% echo(out/name)%> -<small>(<% echo(out/date)%>)<br><!--<% echo(out/host)%>--></small></td>
</tr><tr><td><br><ul><% echo(out/com)%></ul></td>
</table><div align=right><% def(out/oya)%>親記事<% /def %>
<% def(out/res)%>No.<% echo(out/res)%> のレス<% /def %>
 /
<a href="<% echo(self)%>?mode=s&all=1&w=<% echo(out/num)%>&logs=<% echo(logs)%>">関連記事表示</a><br>
削除チェック/<input type=checkbox name=del value=<% echo(out/num)%> onmouseover="this.style.backgroundColor='#FEF1C0';" onmouseout="this.style.backgroundColor='#FFFFFF';"></div></td></tr></table><br>
<% /each %>
<% def(prev)%><b>[<a href="<% echo(prev)%>">前の<% echo(page_def)%>件</a>]</b><% /def %>&nbsp;
<% def(next)%><b>[<a href="<% echo(next)%>">次の<% echo(page_def)%>件</a>]</b><% /def %>
<br><br>Page : <% echo(paging)%>
</center>
<hr width=90%>
<div align=right>パスワード/<input type=password name=pas size=4 onFocus="this.style.backgroundColor='#FEF1C0';" onBlur="this.style.backgroundColor='#FFFFFF';">
<input type=submit value="管理用" onmouseover="this.style.backgroundColor='#FEF1C0';" onmouseout="this.style.backgroundColor='#FFFFFF';"></form></div>
<% /def %>
<!--過去ログモード 終了-->
<% /def %>

<% def(img_mode)%>
<!--アイコン一覧 開始-->
<br><center><a href="javascript:close()">ウィンドウを閉じる</a><br><br>
<table border=1 bordercolor=#749FF1 width=500>
<tr>
<% each(icon)%>
<th width=100><img src="<% echo(icon/file)%>"><br><% echo(icon/name)%></th><% echo(icon/tr)%>
<% /each %>
</tr>
</table></center><br>
<!--アイコン一覧 終了-->
<% /def %>

<% def(man_mode)%>
<table width=65% align=center bgcolor=#FFFFFF><tr><td>
<ul type="square">
<li>この掲示板 (以下BBS) はタグを<b>使用できません。</b></li>
<li>記事は<b>最大<% echo(maxlog)%>件まで</b>保持できます。</li>
<li>他人を中傷するような記事は管理者の判断で予告無く削除する場合があります。</li>
<li><b>名前、コメントは必須記入項目</b>です。記入漏れするとエラーになります。</li>
<li>このBBSは、<b>クッキー対応</b>です。(ブラウザでクッキー有効にしている時に限り)</li>
<li>このBBSは<b>返信機能</b>があり、親記事のフォームをクリックし返信します。</li>
<li><b>削除キー</b>を覚えておくと、一番下のフォームから<b>自分の記事の削除</b>ができます。
削除した記事が親記事だった場合、レス記事もすべて削除されます。</li>

</ul></td></tr></table></center>
<% /def %>
<% def(err_mode)%>
<!--エラー画面-->
<br><br><center><% echo(error)%></center><br><br>
<% /def %>

<% def(post_mode)%>
<!--新規投稿フォーム用-->
<center>
<form action="<% echo(self)%>" method="POST">
<input type=hidden name=mode value=write><input type=hidden name=type value=0>

<table bgcolor=#FFFFFF>
<tr><td bgcolor=#749FF1>Name</td>
<td>/<input type=text name="name" value="<% echo(cname)%>" size=25 maxlength=32 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></td>
<td bgcolor=#749FF1>E-Mail</td>
<td>/<input type=text name="email" value="<% echo(cemail)%>" size=25 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></td></tr>

<tr><td bgcolor=#749FF1>Title</td><td>/<input type=text name="subject" size=25 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';" maxlength=32></td>

<td bgcolor=#749FF1>削除キー</td>
<td>/<input type=password name=delkey value="<% echo(cpass)%>" size=8 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';">
<small>(半角英数)</small></td></tr>
<tr><td colspan=4 bgcolor=#749FF1>Comment/ <small>(適当に改行を入れて下さい/半角<% echo(maxcom)%>文字以内)</small><br>
　<textarea name=comment rows=8 cols=70 wrap=soft onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></textarea></td></tr>

<tr><td bgcolor=#749FF1>URL</td>
<td colspan=3>/<input type=text name="url" value="http://<% echo(curl)%>" size=65 onFocus="this.style.backgroundColor='#E0F0F0';" onBlur="this.style.backgroundColor='#FFFFFF';"></td></tr>
<tr><td bgcolor=#749FF1>文字色</td><td colspan=3>/
<% each(font)%>
<input type=radio name=font value="<% echo(font/color)%>"<% echo(font/chk)%>><font color=<% echo(font/color)%>>■</font>
<% /each %>
</td></tr><tr><td bgcolor=#749FF1>枠線色</td><td colspan=3>/
<% each(hr)%>
<input type=radio name=hr value="<% echo(hr/color)%>"<% echo(hr/chk)%>><font color=<% echo(hr/color)%>>■</font>
<% /each %>
</td></tr><tr><td bgcolor=#749FF1>Icon</td><td colspan=2>/<select name=ico>
<% each(icon)%>
<option value="<% echo(icon/file)%>"<% echo(icon/sel)%>><% echo(icon/name)%></option>
<% /each %>
</select><small>(画像を選択/<a href='<% echo(self)%>?mode=img' target=_blank>サンプル一覧</a>)</small></td>
<td><input type=submit value="送 信" onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';">
<input type=reset value="リセット" onmouseover="this.style.backgroundColor='#E0F0F0';" onmouseout="this.style.backgroundColor='#FFFFFF';"></td></tr></table></form>
</center>
<% /def %>	
<!--著作権表示 削除しないでください-->
<hr>
<div class="copyr rescopyr">- <a href="http://php.loglog.jp/" target=_top>レッツPHP!</a> & <a href="https://pbbs.sakura.ne.jp/" target="_top">@satopian</a> -</div>
<!--フッタ広告タグ挿入位置▽-->

<!--△ここまで-->
</body></html>
