@charset "UTF-8";

a:link {    /* 未リンク */
    text-decoration:none;
    color: #5C50CD;
}
a:visited { /* 既リンク */
    text-decoration:none;
    color: #399563;
}
a:hover { /* リンク中 */
	color:#F44646; text-decoration:underline;
}
body, td, th { /* 基本フォント&基本サイズ */
    font-family:"ＭＳ Ｐゴシック"; 
    font-size:10pt;
}
body {
    color: #585858;
    background-color: #FFFFFF;
}
body > div {
    width: 90%;
    margin: 0 auto;
}
input, textarea, select {
    font-family:"ＭＳ ゴシック";     /*文字フォント*/
    font-size:10pt;                 /* 文字サイズ */
    color:#349B31;                /*   文字色   */
    background-color:#FFFFFF;     /*   背景色   */
    border:1 solid #749FF1;       /*線の太さ、色*/
}
input {
    font-family:"ＭＳ Ｐゴシック";   /*文字フォント*/
}
.mainc {
    margin: 0 auto;
}
.mainc h1 {
    color: #749FF1;
    font-family: "Times New Roman";
    text-align: center;
}
.mainc h2 {
    text-align: center;
    font-size: small;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    font-weight: normal;
}
.mainc table {
    border-width: 0;
}
.mainc table td {
    background-color: #FFFFFF;
}
.mainc .count {
    text-align: center;
    font-size: smaller;
}
.mainc nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.mainc nav ul li {
    margin-left: 30px;
    margin-right: 30px;
}
.post table {
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}
.postmain.post table td:nth-child(2n-1) {
    background-color: #749FF1;
}
#list {
    width: 91%;
    border-style: double;
    border-width: 4px;
    border-color: #749FF1;
    margin: 1em auto;
}
#list td {
    background-color: #FFFFFF;
}
.hrbr {
    width: 91%;
}
.oya_eh {
    max-width: 90%;
    background-color: #FFFFFF;
    border-width: 4px;
    border-style: double;
    padding: 3px 2px 8px;
    margin: 1em auto;
}
.oya_eh > h2 {
    width: auto;
    text-align: center;
    color: #FFFFFF;
    padding-top: 0.2ex;
    padding-bottom: 0.2ex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px;
    border: none;
    font-weight: 600;
}
.oya_eh > h3 {
    padding-top: 5px;
    padding-bottom: 0.2ex;
    margin-top: 0.2ex;
    font-weight: normal;
    font-size: small;
}
div.oya_message {
    display: flex;
}
div.oya_ico_yohaku {
width: 5%;
}
div.ico {
	width: 10%;
	/* text-align: center; */
	margin: 0 10px 0 0;
}
div.com{
	margin: 13px 0;
	line-height: 1.5em;
	letter-spacing: 0.08em;
	width: 90%;
	margin: 13px auto;
}
.oya_eh .res_button {
    text-align: right;
}
.oya_eh div.oya_res {
    border-width: 1px 0 0 0;
    padding-left: 13%;
}
.oya_eh .oya_res h3 {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    font-size: small;
    padding: 2px;
}
.oya_eh .oya_res h4 {
    padding-top: 5px;
    margin: 0;
    font-weight: normal;
    font-size: small;
}
div.res_message {
    padding-top: 1ex;
    display: flex;
}
/* .oya_eh div.oya_res section > div > div:first-child {
    width: 15%;
    text-align: center;
} */
.oya_over {
    text-align: right;
}
.paging {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #555555;
    text-align: center;
}
.paging > div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}
.paging p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}
form h3 {
    background-color: #749FF1;
    margin-bottom: 0.2ex;
    font-size: small;
}
form.edit {
    display: table;
    margin: 0 auto;
}
.res_num_subj{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.foot {
    clear: both;
    width: 90%;
    margin: 1em auto 1em auto;
    padding: 1em;
    border-width: 1px 0 1px 0;
    border-color: #5B5B5B;
    border-style: solid;
    text-align: right;
}
.copyr {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.rescopyr {
	margin: 10px 0;
}